
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
       /* background-color: rgb(245, 245, 245); background-image: url(https://papelnaparede.com.br/17454-large_default/Papel-de-Parede-Adesivo-Degrade-Azul-e-Branco-N05134.jpg);*/
      
    header{
        
        background-color: aliceblue;background-image: url(https://www.pontoxtecidos.com.br/static/567/sku/155904889647122.jpg);
        padding-left: 350px; 
        margin-bottom: 20px;
        padding-right: 200px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    li{
        display: inline;
        margin-right: 15px;
    }
    main{
        

    }
    #info{
        background-color: antiquewhite; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1QKoEh8DSMFmdSQjN9qhUAJh4tm2cPakAwg&s);
        padding-left: 300px;
        border-radius: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 60%;
        margin: 0 auto;
    
       
    }
    #info p {
        padding-left: 50px;

    }
    #info a {
        margin-left: 100px;
    }
    #programa{
        background-color: rgb(224, 224, 224);
        padding-left: 80px;
        padding-top: 15px;
        margin-top: 15px;
        border-radius: 20px;
        padding-bottom: 15px;
         width: 60%;
        margin: 0 auto;
        margin-top: 30px;
    }
    #sobre{
        padding-left: 83px;
        background-color:rgb(224, 224, 224) ;
        margin-top: 15px;
        border-radius: 20px;
        padding-bottom: 10px;
         width: 60%;
        margin: 0 auto;
        margin-top: 30px;
    }

    /*************************section palestrante*********************/

    #palestrantes{
        background-color: rgb(224, 224, 224);
        border-radius: 15px;
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 30px;
    
    }
    #palestrantes h2{
        text-align: center;
    }
    #sobre h2 {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .grid{
        display: flex;
        gap: 1%;
        justify-content: center;       
    }

    article {
        
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: solid 2px green;
    }
 article p {
    width: 100%;
    text-align: center;
 }


  
    #programa h2{
        text-align: center;
        padding-bottom: 15px;
    }
    
    footer{
        background-color:rgb(5, 58, 5);
        margin-top: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    footer p{
        color: aliceblue;
    }
    #palestrantes
    {
    }
    #img1 {
        background-image: url(https://img.magnific.com/fotos-gratis/homem-bonito-posando-e-sorrindo_23-2149396133.jpg);
        background-size: cover;
        background-position: center;
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }
    #img2 {  background-image: url(https://www.foz.pr.gov.br/wp-content/uploads/2025/11/SHEILA-scaled.jpg);
        background-size: cover;
        background-position: center;
        height: 125px;
        width: 125px;
        border-radius: 50%;
    }
    #img3 {
        background-image: url(https://hospitaligesp.com.br/wp-content/uploads/2023/11/Banner_News_IGESP.jpg);
        background-size: cover;
        background-position: center;
        height: 125px;
        width: 125px;
        border-radius: 50%;
        
    }
    
    
   #inscricao{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    flex-direction: column;
    
   }
   #inscricao h2 {
    text-align: center;
   }
   #form{
    display: flex;
    
   }
  
      
        
    }
}